@model MVC_Demo2.Models.部門

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>部門</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="單位" class="control-label"></label>
                <input asp-for="單位" class="form-control" />
                <span asp-validation-for="單位" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="部門1" class="control-label"></label>
                <input asp-for="部門1" class="form-control" />
                <span asp-validation-for="部門1" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="部門名稱" class="control-label"></label>
                <input asp-for="部門名稱" class="form-control" />
                <span asp-validation-for="部門名稱" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="組織狀態" /> @Html.DisplayNameFor(model => model.組織狀態)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="修改人" class="control-label"></label>
                <input asp-for="修改人" class="form-control" />
                <span asp-validation-for="修改人" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="修改日期時間" class="control-label"></label>
                <input asp-for="修改日期時間" class="form-control" />
                <span asp-validation-for="修改日期時間" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

